/* Variables */
/* Basics */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

body {
  font-size: 13px;
  background-color: hsl(210deg, 46%, 95%);
  height: 100vh;
  overflow: hidden;
}

main {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
main article {
  display: flex;
  box-shadow: 0px 40px 40px -10px rgba(183, 199, 216, 0.3);
}
main .img {
  position: relative;
  background-image: url(../images/drawers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -38px;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
main .info {
  position: relative;
  background-color: #fff;
  padding: 38px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
main .info h1 {
  color: hsl(217deg, 19%, 35%);
  line-height: 1.4;
  font-size: 22px;
}
main .info p {
  color: hsl(214deg, 17%, 51%);
  margin-top: 1em;
  line-height: 1.5;
  font-size: 14px;
}
main .info .author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}
main .info .author .article-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
main .info .author .article-info > div > h5 {
  font-size: 14px;
  margin-bottom: 5px;
}
main .info .author .article-info > div > span {
  opacity: 0.5;
  font-size: 14px;
}
main .info .author .article-info .avatar {
  width: 50px;
  max-width: 100%;
  border-radius: 50%;
}
main .info .author .share > .share-cont {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210deg, 46%, 95%);
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
main .info .author .share > .share-cont svg path {
  transition: 0.3s;
}
main .info .author .share .active {
  background-color: hsl(217deg, 19%, 35%);
}
main .info .author .share .active svg path {
  fill: #fff;
}
main .info .author .social {
  z-index: -1;
  opacity: 0;
  gap: 20px;
  position: absolute;
  left: 61.5%;
  top: 48%;
  background-color: hsl(217deg, 19%, 35%);
  display: flex;
  align-items: center;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: default;
  transition: 0.3s;
  filter: drop-shadow(0px 4px 4px rgba(36, 36, 86, 0.25));
}
main .info .author .social > span {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(212deg, 23%, 69%);
  font-size: 15px;
  cursor: text;
}
main .info .author .social::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -29px;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: hsl(217deg, 19%, 35%) transparent transparent transparent;
}
main .info .author .social a img {
  transition: 0.3s;
}
main .info .author .social a img:hover {
  transform: rotate(-15deg);
}

@media (max-width: 767px) {
  main {
    width: 90%;
  }
  main article {
    flex-direction: column;
  }
  main article .img {
    height: 18em;
    background-position-x: center;
    border-radius: 10px 10px 0 0;
  }
  main article .info {
    border-radius: 0 0 10px 10px;
    padding-bottom: 10px;
  }
  main article .info .social {
    padding: 22px 40px !important;
    opacity: 0 !important;
    left: 0 !important;
    top: 82% !important;
    width: 100% !important;
    border-radius: 0 0 10px 10px !important;
  }
  main article .info .social::before {
    display: none;
  }
  main article .info .share .active {
    background-color: hsl(212deg, 23%, 69%) !important;
    z-index: 2;
  }
}